.venv/
*/*/__pycache__/
*/*/*/__pycache__/
01_data_collection/03_forcing_gen/outputcamels/
01_data_collection/03_forcing_gen/raw_output/
scratch.ipynb
01_data_collection/hfv3_conus*
01_data_collection/RouteLink_CONUS.nc